<div class="flex-1 p-6">
  <h1 class="text-3xl font-bold text-gray-900 mb-8">Lista de Pedidos</h1>

  <div class="mb-6 flex items-end gap-6">
    <div class="flex-1 relative group">
      <div
        class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none"
      >
        <i
          class="fa-solid fa-magnifying-glass text-gray-300 group-hover:text-aliva-purple focus-within:text-aliva-purple"
        ></i>
      </div>
      <input
        type="text"
        id="searchBoxPedidos"
        placeholder="Buscar en cualquier columna..."
        class="w-full pl-12 pr-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-aliva-blue focus:border-transparent"
      />
    </div>
  </div>

  <div
    class="bg-white rounded-lg shadow-sm border border-gray-200 overflow-hidden"
  >
    <div
      id="pedidosGrid"
      class="ag-theme-alpine"
      style="height: 440px; width: 100%"
    ></div>
  </div>
</div>
